@import "tailwindcss";
@plugin '../../hero.ts';
@source '../../node_modules/@heroui/theme/dist*.{js,ts,jsx,tsx}';
/* @custom-variant dark (&:is(.dark *)) */

@layer utilities {
  .full-wrapper {
    @apply flex items-center justify-center w-full min-h-screen gap-2;
  }
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* For all elements */
* {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

/* For WebKit browsers (Chrome, Safari, Edge) */
*::-webkit-scrollbar {
  display: none;
}

html {
  background: #000;
  position: relative;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: #0b00cd;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-serif: var(--font-intrument-serif);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
